{% extends "dashboard_base.html" %}
{% block title%} Index {% endblock %}
{% block content%}

<main class="main-content-wrapper">
  <div class="container">
    <div class="row mb-8">
      <div class="col-md-12">
        <!-- page header -->
        <div class="d-md-flex justify-content-between align-items-center">
          <div>
            <h2>Products</h2>
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#" class="text-inherit">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
              </ol> 
            </nav>
          </div>
          <!-- button -->
          <div>
            <a href="{% url 'create_product' %}" class="btn btn-primary">Add Product</a>
          </div>
        </div>
      </div>
      <!-- row -->
      <div class="row ">
        <div class="col-xl-12 col-12 mb-5">
          <!-- card -->
          <div class="card h-100 card-lg"> 
            <div class="px-6 py-6">
              <div class="row justify-content-between">
                <!-- form -->
                <div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
                  <form class="d-flex" role="search">
                    <input class="form-control" type="search" placeholder="Search Products" aria-label="Search">
                  </form>
                </div>
                <!-- select option -->
                <div class="col-lg-2 col-md-4 col-12">
                  <select class="form-select">
                    <option selected>Status</option>
                    <option value="1">Active</option>
                    <option value="2">Deactive</option>
                    <option value="3">Draft</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- card body -->
            <div class="card-body p-0">
              <!-- table -->
              <div class="table-responsive">
                <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                  <thead class="bg-light">
                    <tr>
                      <th>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkAll">
                          <label class="form-check-label" for="checkAll"></label>
                        </div>
                      </th>
                      <th>Image</th>
                      <th>Proudct Name</th>
                      <th>Category</th>
                      <th>Status</th>
                      <th>Price</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- FOR WORKING -->
                    {% for product in products %}
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="product{{ forloop.counter }}">
                          <label class="form-check-label" for="product{{ forloop.counter }}"></label>
                        </div>
                      </td>
                      <td>
                        <a href="#!"> <img src="{{ product.images.url }}" alt="" class="icon-shape icon-md"></a>
                      </td>
                      <td><a href="#" class="text-reset">{{ product.name }}</a></td>
                      <td>{{ product.category }}</td>
                      <td>
                        <span class="badge bg-light-primary text-dark-primary">Active</span>
                      </td>
                      <td>${{ product.price }}</td>
                      <td>
                        <div class="dropdown">
                          <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="feather-icon icon-more-vertical fs-5"></i>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'delete_product' product.id %}"><i class="bi bi-trash me-3"></i>Delete</a></li>
                            <li><a class="dropdown-item" href="{% url 'edit_product' product.id %}"><i class="bi bi-pencil-square me-3"></i>Edit</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    <!-- FOR WORKING -->
                  </tbody>
                </table>
                
              </div>
            </div>
            <div class="border-top d-md-flex justify-content-between align-items-center px-6 py-6">
              <span>Showing {{ products.start_index }} to {{ products.end_index }} of {{ products.paginator.count }} entries</span>
              <nav class="mt-2 mt-md-0">
                <ul class="pagination mb-0">
                  {% if products.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
                  {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#!">Previous</a></li>
                  {% endif %}
                  {% for num in products.paginator.page_range %}
                  {% if products.number == num %}
                  <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if products.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
                  {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#!">Next</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
